<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>FreeCodeCamp API Basejump: URL Shortener</h1>
         <h3>User Stories</h3>
          <ul>
            <li>I can pass a normal web URL and receive a shortened version</li>
            <li>When I visit the shortened version, I'm redirected to the actual URL</li>
          </ul>
        <h3>Creating New URL in System</h3>
        <p>
          https://plaid-shelf.glitch.me/new/https://www.google.com
        </p>
        <h3>
          Response For Creation
        </h3>
        <p>
          { "original_url":"https://www.google.com", "short_url":"https://plaid-shelf.glitch.me/8170" }
        </p>
        <h3>
          Visiting Shortened URL
        </h3>
        <p>
          https://plaid-shelf.glitch.me/8170
        </p>
        <h3>
          Will Redirect to Website Saved
        </h3>
      </div>
      <div id="madeby">
        <h6>Made by <a href="https://www.freecodecamp.org/irichard620" alt="Ian's FCC" id="fcc-link">Ian Richard</a></h6>
      </div>
   </body>

</html>
